<table align="left" style="background: linear-gradient(90deg, rgb(29, 28, 28) 0%, rgba(0,0,0,1) 49%, rgba(76, 90, 4, 0.99) 100%); width: 100%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <tr>
        <th>
                <h1 style="color: white;">Convertir numero arábigo a romano</h1>
                <p style="color: white;">Ingrese el numero: </p><br>
                <input type="number" [(ngModel)]='arabic'/>
                <button (click)="convertirNro()" >Calcular</button>
                <h2 style="color:white">RESULTADO:</h2>
                <h1 style="color:white"><p><span id="result"></span></p></h1>
        </th>
    </tr>

</table>

